.projects-section {
  background-color: #f7f5f5;
  margin: 0;
}

.title {
  margin: 0;
  margin-bottom: 1em;
}

.projects-wrapper {
  height: 60vh;
  margin: 0;
}

//-------------------------------- breakpoints

@media only screen and (max-width: 600px) {
  .projects-section {
    text-align: center;
  }

  .projects-wrapper {
    height: 40vh;
  }
}
