.main {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.spacer {
  background-color: #f7f5f5;
  height: 4em;
}

// * {
//   border: 1px solid blue;
// }

.middle-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.middle-spacer {
  background-color: #f7f5f5;
  height: 40em;
  width: 3em;
}

//-------------------------------- breakpoints

@media only screen and (max-width: 800px) {
  .middle-spacer {
    height: 60vh;
  }
}

@media only screen and (min-width: 1500px) {
  .middle-spacer {
    width: 10em;
  }
}
