.link-icon {
  height: 25px;
}

.link-icon:hover {
  transform: scale(1.1);
  border-radius: 5%;
  transition: 500ms;
}

//-------------------------------- breakpoints

@media only screen and (max-width: 600px) {
  .link-icon {
    height: 3em;
  }
}
