@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

h1 {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 1em;
  margin: 0.4em 0;
}

// .App {
//   background: url(./background-vid.mp4);
//   background-size: cover;
// }
